{% extends "layout_template_new.html" %}

{% block chartsjs %}
    <script type="text/javascript" src="/static/js/echarts.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/map/js/world.js"></script>
    <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=xfhhaTThl11qYVrqLZii6w8qE5ggnhrY&__ec_v__=20190126"></script>
    <script type="text/javascript" src="/static/js/extension/bmap.js"></script>
{% endblock chartsjs %}

{% block content %}
<!-- Air Quality Cards & Buzzer Control Card -->
<div class="row m-t-10">
    <div class="col-lg-12">
        <div class="au-card m-b-30" style="padding: 20px 10px 0px 10px;">
            <div class="au-card-inner">
                <h3 class="title-2" style="margin-left: 20px;">Singapore Air Quality Overview</h3>
            
                <div id="mapchart" style="width:auto; height:600px; margin:auto; padding:20px 0 20px 0"></div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block javascript %}
<script type="text/javascript">
    // based on prepared DOM, initialize echarts instance
    
    var mapchart = echarts.init(document.getElementById('mapchart'));
    option = {
    title: {
        text: 'Singapore Air Quality Overview',
        left: 'center'
    },
    tooltip : {
        trigger: 'item',
    },
    bmap: {
        center: [103.8198, 1.3521],
        zoom: 12,
        roam: false,
        mapStyle: {
            styleJson: [{
                'featureType': 'water',
                'elementType': 'all',
                'stylers': {
                    'color': '#a9d1ff'
                }
            }, {
                'featureType': 'land',
                'elementType': 'all',
                'stylers': {
                    'color': '#f3f3f3'
                }
            }, {
                'featureType': 'railway',
                'elementType': 'all',
                'stylers': {
                    'visibility': 'off'
                }
            }, {
                'featureType': 'highway',
                'elementType': 'all',
                'stylers': {
                    'color': '#fdfdfd'
                }
            }, {
                'featureType': 'highway',
                'elementType': 'labels',
                'stylers': {
                    'visibility': 'off'
                }
            }, {
                'featureType': 'arterial',
                'elementType': 'geometry',
                'stylers': {
                    'color': '#fefefe'
                }
            }, {
                'featureType': 'arterial',
                'elementType': 'geometry.fill',
                'stylers': {
                    'color': '#fefefe'
                }
            }, {
                'featureType': 'poi',
                'elementType': 'all',
                'stylers': {
                    'visibility': 'off'
                }
            }, {
                'featureType': 'green',
                'elementType': 'all',
                'stylers': {
                    'visibility': 'on',
                    'color':'#ccefc1'
                }
            }, {
                'featureType': 'subway',
                'elementType': 'all',
                'stylers': {
                    'visibility': 'off'
                }
            }, {
                'featureType': 'manmade',
                'elementType': 'all',
                'stylers': {
                    'color': '#d1d1d1'
                }
            }, {
                'featureType': 'local',
                'elementType': 'all',
                'stylers': {
                    'color': '#d1d1d1'
                }
            }, {
                'featureType': 'arterial',
                'elementType': 'labels',
                'stylers': {
                    'visibility': 'off'
                }
            }, {
                'featureType': 'boundary',
                'elementType': 'all',
                'stylers': {
                    'color': '#fefefe'
                }
            }, {
                'featureType': 'building',
                'elementType': 'all',
                'stylers': {
                    'color': '#d1d1d1'
                }
            }, {
                'featureType': 'label',
                'elementType': 'labels.text.fill',
                'stylers': {
                    'visibility':'off'
                }
            }]
        }
    },
    series : [
        {
            name: 'PM2.5 + PM10: ',
            type: 'scatter',
            coordinateSystem: 'bmap',
            data: [
                    {{ hi }}
                ],
            symbolSize: function (val) {
                return val[2];
            },
            label: {
                formatter: '{b}',
                position: 'right',
                show: false
            },
            itemStyle: {
                color: 'purple'
            },
            emphasis: {
                label: {
                    show: true
                }
            }
        },

    ]
};
    mapchart.setOption(option);
    $.get("{{url_for('iot.getAQMap')}}", function (mapdata) {
        console.log(mapdata)
        mapchart.setOption(option = {    series : [
        {
            name: 'PM2.5 + PM10: ',
            type: 'scatter',
            coordinateSystem: 'bmap',
            data: mapdata,
            symbolSize: function (val) {
                return val[2];
            },
            label: {
                formatter: '{b}',
                position: 'right',
                show: false
            },
            itemStyle: {
                color: 'purple'
            },
            emphasis: {
                label: {
                    show: true
                }
            }
        },

    ]
        
    });
}
    )
</script>
{% endblock javascript %}